* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    min-height: 100%;
    background: #e3f2fd;
  }
.main{
    background-color: rgb(255, 255, 255);
    width: 20%;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.menu{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(225, 235, 235);

}
.menu>strong{
    margin-left: 10px;

}
.menu>span{
    margin-left: 10px;

}
.menu:hover {
    background-color: #4070f4;
    color: #e3f2fd;
    border-radius: 5px;
  }
  .menu>img:hover {
    background-color: #4070f4;
    color: #e3f2fd;
    border-radius: 5px;
  }